{% extends 'Pagelayout.twig' %}

{%  block body %}

<div class="row justify-content-center">
  <h2>Création d'un utilisateur</h2>
</div>

<div class="row justify-content-center mt-3">
    <form class="col-6" action="{{ pathRoot ~ 'users/createuser' }}" name="createForm" method="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Login" name="login" required>
        </div>

        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password" required>
        </div>

        <div class="input-group justify-content-end">
            <button type="submit" class="btn btn-primary" name="ValidUser">Valider</button>
        </div>
    </form>
</div>

{%  endblock %}